<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>FinanSesi</title>
</head>
<body>
    <header>
        <div class="logo"><img src="./img/logo.png" alt="">FinanSesi</div>
        <nav>
            <a href="/">Home</a>
            <a href="/sobre">Sobre</a>
            <a href="/juros_simples.ejs">Juros Simples</a>
            <a href="/juros_compostos.ejs">Juros Compostos</a>
        </nav>
    </header>
    <main>
        <%- body %>
    </main>
    <footer>
        <img src="./img/logo_sesisenai.png" alt="Logo do Sesi e Senai">
    </footer>
</body>
</html>