<div class="mid">

    <h1>Seja bem-vindo ao FinanSESI</h1>
    <h3>Aprendendo programação e finanças</h3>
    
    
    <div class="juros"> 
        
        <div class="simples">
            <a href="/juros_simples.ejs">Juros Simples  </a>
            <img src="./img/juros_simples.png" alt="">
        </div>
        
        <div class="comp">
            <a href="/juros_compostos.ejs">Juros Compostos</a>
            <img src="./img/juros_composto.png" alt="">
        </div>
    </div>
</div>