<strong>Projeto desenvolvido por</strong>
<p>Pablo Martinz</p>
<hr>
<p>esse projeto foi desenvolvido com o intuito de criar um sistema para aprendermos programação e finanças</p>
<hr>
<p>Desenvolvido em sala de aula em parceria Sesi/Senai</p>